.About p {
        font-size: 1.6rem !important;
        margin-bottom: 0.8rem !important;
        font-weight: 300 !important;
}
/* Media Query for screens with a maximum width of 768px */
@media (max-width: 768px) {
        .About p {
          font-size: 1.4rem !important;
          margin-bottom: 0.6rem !important;
          font-weight: normal !important;
        }
      }
      